*{
    margin: auto;
    padding: 0%;
    margin-top: 2%;
    margin-left: 1.9%;
    background-color: rgba(49, 29, 85, 0.402);
}
p{
    text-align: center;
    text-shadow: deeppink;
    margin-top: 7%;
    color: rgba(255, 11, 190, 0.961);
    font-size: x-large;
}
h1{
    text-align: center;
    color: rgb(194, 219, 93);
}
.gallary{
    text-align: center;
}
.top{
    text-align: center;
    color: lime;
    margin-left: 20%;
    margin-top: 20px;
}