*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   margin-top: 4%;
}

.doc-sdd{
    color: black;
    text-align: center;
}
h1{
    color: rgba(252, 0, 0, 0.961);
    background-color: beige;
    text-shadow: chartreuse;
}
h2{ 
    padding-top: 10%;
    color: brown;
}
.tags{ 
    padding-top: 10;
    padding-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(245, 226, 220);
    font-style: italic;
    font:40px sans-serif;
}
